@charset "utf-8";
/* CSS Document */

body {
	background:#000;
	margin:0px;
}
div#menubar1 {
	padding:24px;
	border:#999 1px dashed ;
}
div#menubar1 a {
	font-family: Arial, sans-serif, Gotham, "Helvetica Neue", Helvetica;
	font-size:17px;
	background:#333;
	padding: 12px 24px;
	color:#999;
	margin-right: 10px;
	text-decoration:none;
	border-radius: 3px;
	-webkit-transition:background 0.3s linear 0s, color 0.3s linear 0s;
	-moz-transition:background 0.3s linear 0s, color 0.3s linear 0s;
	-ms-transition:background 0.3s linear 0s, color 0.3s linear 0s;
	-o-transition:background 0.3s linear 0s, color 0.3s linear 0s;
	transition:background 0.3s linear 0s, color 0.3s linear 0s;
}
div#menubar1 a:hover {
	background:#6f8a00;
	color:#fff;
}